import(methods)
importMethodsFrom(affy, barplot, boxplot, cdfName, image, Mbox)
importFrom(affy, AffyRNAdeg, cleancdfname, plotAffyRNAdeg, rma)
importMethodsFrom(Biobase, annotation, experimentData,
                  "experimentData<-", exprs, "exprs<-", pData,
                  "sampleNames<-")
importFrom(Biobase, package.version)
importFrom(graphics, axis, legend, par, plot, text)
importFrom(grDevices, dev.off, png, rainbow)
importFrom(limma, classifyTestsF, contrasts.fit, eBayes, lmFit)
importFrom(stats, as.dist, as.formula, cor, hclust, IQR, model.matrix,
           p.adjust, pf, quantile)
importFrom(utils, data, write.csv, write.table)
importFrom(xtable, xtable)


export(createExpressionSet, createIndex, 
	   geneFilter, regress, postInteraction, createIngenuityFile,
	   output.gct, output.cls, output.ing, createGSEAFiles,
	   adjustment, getAdjP, getDesign, getAnnotation, getCompare1,
	   getCompare2, getContrast, getCovariates, getF, getFC,
	   getFCCutoff, getFilterMethod, getID, getIndex, getInteraction,
	   getIntIndex, getLength, getLevel, getTarget, getNormalizationMethod,
	   getP, getPCutoff, Output2HTML, qa3prime, qaGeneST, regressionMethod,
	   selectSigGene, Sort, preProcessGeneST, preProcess3prime,
	   selectSigGene, selectSigGeneInt)

exportClasses(regressResult, interactionResult, designMatrix, contrastMatrix)

exportMethods(adjustment, getAdjP, getAnnotation, getContrast, 
    getF, getFC, getFCCutoff, getFilterMethod,
	getID, getIndex, getNormalizationMethod, getP, 
	getPCutoff, Output2HTML, regressionMethod, show, Sort, summary,
	getLength, getCompare1, getCompare2, getContrast, getInteraction,
	getLevel, initialize, getCovariates, getDesign, getIntIndex, getTarget)